<li>
  <details>
    <summary>Computer Systems</summary>
    <ul class="p-2">
      <li>
        <a href="/page/comp_sys/1.4.html">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-primary inline-block mr-1" viewBox="0 0 448 512"><path d="M0 96C0 60.7 28.7 32 64 32l320 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zm144 4c-24.3 0-44 19.7-44 44l0 48c0 24.3 19.7 44 44 44l32 0c24.3 0 44-19.7 44-44l0-48c0-24.3-19.7-44-44-44l-32 0zm-4 44c0-2.2 1.8-4 4-4l32 0c2.2 0 4 1.8 4 4l0 48c0 2.2-1.8 4-4 4l-32 0c-2.2 0-4-1.8-4-4l0-48zm140-44c-11 0-20 9-20 20c0 9.7 6.9 17.7 16 19.6l0 76.4c0 11 9 20 20 20s20-9 20-20l0-96c0-11-9-20-20-20l-16 0zM132 296c0 9.7 6.9 17.7 16 19.6l0 76.4c0 11 9 20 20 20s20-9 20-20l0-96c0-11-9-20-20-20l-16 0c-11 0-20 9-20 20zm96 24l0 48c0 24.3 19.7 44 44 44l32 0c24.3 0 44-19.7 44-44l0-48c0-24.3-19.7-44-44-44l-32 0c-24.3 0-44 19.7-44 44zm44-4l32 0c2.2 0 4 1.8 4 4l0 48c0 2.2-1.8 4-4 4l-32 0c-2.2 0-4-1.8-4-4l0-48c0-2.2 1.8-4 4-4z"/></svg>
          Data Types
        </a>
      </li>
    </ul>
  </details>
</li>
<li>
  <details>
    <summary>Algorithms & Programming</summary>
    <ul class="p-2">
      <li><a href="/page/programming/programming_menu.html">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-5 w-5" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"/></svg>
        Programming Lessons</a>
      </li>
      
    </ul>
  </details>
</li>
<li>
  <details>
    <summary>Useful links</summary>
    <ul class="p-2" style="min-width: 18rem;">
      <li><a href="https://www.ocr.org.uk/Images/170844-specification-accredited-a-level-gce-computer-science-h446.pdf" target="_blank" style="white-space: normal; word-break: break-word;">
        <i class="fa-solid fa-book" style="color: primary;"></i>
        <span>OCR A Level Computer Science Specification (H446)</span></a>
      </li>
      <li>
        <a href="https://codefez.github.io" target="_blank" rel="noopener noreferrer" style="white-space: normal; word-break: break-word;">
          <span style="display: flex; align-items: center; gap: 0.5em;">
            <div class="avatar">
              <div class="w-5 rounded-full">
                <img src="https://avatars.githubusercontent.com/u/5003973?v=4" />
              </div>
            </div>
            <span>Codefez, Mr Mulla's other site for learning Python</span>
          </span>
        </a>
      </li>

      <hr>
      <li>
        <a href="/page/useful_sites.html" target="_blank" rel="noopener noreferrer" style="white-space: normal; word-break: break-word;">
          <span style="display: flex; align-items: center; gap: 0.5em;">
            <div class="avatar">
              <div class="w-6">
                <i class="fa-solid fa-globe"></i>
              </div>
            </div>
            <span>Other Useful Sites</span>
          </span>
        </a>
      </li>
    </ul>
  </details>
</li>
<!-- <li>
  <a href="https://oneshotguessle.com" target="_blank" 
  data-counter="page_loads/oneShotGuessle"
  data-element="page_loads_oneShotGuessle_count">
    <div class="avatar">
      <div class="w-5 rounded-full">
        <img src="/assets/images/osg_logo.jpg" alt="">
      </div>
    </div>
    <div class="">Play Oneshot Guessle</div>
  </a>
</li> -->
